<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a (click)="menuSwitch('home')">Főoldal</a></li>
            <li><a (click)="menuSwitch('konyvlista')">Könyveink</a></li>
            <li><a (click)="menuSwitch('kosar')">Kosár</a></li>
            <li><a (click)="menuSwitch('login')">Bejelentkezés</a></li>
            <li><a (click)="menuSwitch('registrate')">Regisztráció</a></li>
            <li><a (click)="menuSwitch('profile')">Profil</a></li>
            <li><a (click)="menuSwitch('tbr')">TBR Lista</a></li>
        </ul>
    </nav>
</body>
</html>