<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="router-link-active" >Főoldal</a></li>
            <li><a routerLink="//konyvlista">Könyveink</a></li>
            <li><a routerLink="/kosar">Kosár</a></li>
            <li><a routerLink="/login">Bejelentkezés</a></li>
            <li><a routerLink="/registrate">Regisztráció</a></li>
            <li><a routerLink="/profile">Profil</a></li>
            <li><a routerLink="/tbr">TBR Lista</a></li>
        </ul>
    </nav>
</body>
</html>