$primary-color: #8b4513;
$secondary-color: #CBBEB3;
$text-color: #333;
$background-color: #fff;
$button-color: #C6AD94;

.profile-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #fffaf3;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
      padding: 30px;
    }
  }
  
  .profile-container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  mat-card {
    margin-bottom: 20px;
    color: $primary-color;
    align-items: center;
  }
  
  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  mat-card-title{
    font-size: 30px;
    color: $primary-color;

    @media (min-width: 600px) {
      font-size: 28px;
    }
  
    @media (min-width: 960px) {
      font-size: 32px;
    }
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    margin: 20px 0 40px 0;
    flex-direction: column;

    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: center;
      gap: 24px;
    }
  }
  
  .avatar-container {
    margin-right: 24px;

    @media (min-width: 600px) {
      margin-bottom: 0;
    }
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e8eaf6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #3f51b5;
  }

  .user-details {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
      align-items: flex-start;
    }
  }
  
  .user-name {
    margin: 0 0 8px 0;
    font-size: 24px;
    font-weight: 500;
  }
  
  .user-email {
    display: flex;
    align-items: center;
    color: $button-color;
    font-size: 16px;
    
    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      margin-right: 8px;
    }
  }

  .logout-button {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 24px;
    border: rgb(106, 0, 0);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  
    mat-icon {
      margin-right: 8px;
    }
  
    &:hover {
      background-color: darken(red, 10%);
    }
  }
  