<!--<router-outlet />-->

<!---<app-menu (selectedPage)="changePage($event)"></app-menu>
@switch (page) {
  @case ('home') {
    <div class="home">
      <app-home></app-home>
    </div>
  }
  @case ('profile'){
    <app-profile></app-profile>
  }
  @case ('registrate'){
    <app-registrate></app-registrate>
  }
  @case ('konyvlista'){
    <app-konyvlista></app-konyvlista>
  }
  @case ('konyvreszletek'){
    <app-konyvreszletek></app-konyvreszletek>
  }
  @case ('login'){
    <app-login></app-login>
  }
  @case ('kosar') {
    <app-kosar></app-kosar>
  }
  @case ('tbr') {
    <app-tbr></app-tbr>
  }
  @default {
    <h1>Page not found ...</h1>
  }
  }-->

<app-menu></app-menu>
<router-outlet />