<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button 
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div style="color: white; font-size: 22px; cursor: pointer;" routerLink="/home">Könyvesbolt</div>
      <nav>
        <ul>
          <li><a routerLink="/home">Főoldal</a></li>
          <li><a routerLink="/konyvlista">Könyveink</a></li>
          <li><a routerLink="/tbr">TBR</a></li>

          <!-- Csak bejelentkezve -->
          <ng-container *ngIf="isLoggedIn$ | async">
            <li><a routerLink="/profile">Profil</a></li>
            <li><a routerLink="/kosar">Kosár</a></li>
          </ng-container>

          <!-- Csak NEM bejelentkezve -->
          <ng-container *ngIf="(isLoggedIn$ | async) === false">
            <li><a routerLink="/login">Bejelentkezés</a></li>
            <li><a routerLink="/registrate">Regisztráció</a></li>
          </ng-container>
        </ul>
      </nav>

    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>