$primary-color: #8b4513;
$secondary-color: #CBBEB3;
$text-color: #333;
$background-color: #fff;
$button-color: #C6AD94;

main{
  padding: 0px;
  background-color: $button-color;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  mat-card-actions {
    display: flex;
    justify-content: center;
  }
}

.kozepre {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cta-button {
  background: $primary-color;
  color: white;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  border: none;
  
  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  }
}

h1{
  font-size: 50px;
  letter-spacing: 3px;
}


p {
    color: #666;
    font-size: 20px;
    margin-bottom: 40px;
}

.hero-section {
    height: 100%;
    width:100% ;
    background-image: url('/hero.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px;
    display: flex;
    align-items: center;

    h1 {
      font-size: 4rem;
      margin-bottom: 20px;
      color: #F5EBE0;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 20px;
      color: #F5EBE0;
    }

    @media (min-width: 768px) {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }

  .hero-content {
    width: 100%;
  }
  
  .books {
    text-align: center;
    padding: 40px;
    background-color: $button-color;
  
    h2 {
      margin: 50px;
      font-size: 40px;
      color: #3e2723;
    }

    @media (min-width: 768px) {
      font-size: 28px;
    }
  
    .books-grid {
      display: grid;

      gap: 24px;
      padding: 32px;
      justify-items: center;

      @media (min-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
      }
  
      @media (min-width: 1200px) {
        grid-template-columns: repeat(5, 1fr);
      }
    
      .example-card {
        width: 100%;
        max-width: 300px;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;
    
        img[mat-card-image] {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
    
        mat-card-title {
          font-size: 20px;
          font-weight: bold;
        }
    
        mat-card-subtitle {
          font-size: 14px;
          color: #666;
        }
    
        mat-card-content {
          font-size: 13px;
          color: #555;
        }

        mat-card-content p{
          font-size: 18px;
          color: #555;
        }
    
        mat-card-header,
        mat-card-content,
        mat-card-actions {
          text-align: left; 
        }

        mat-card-actions button{
            background: $primary-color;
            color: white;
            padding: 14px 28px;
            font-size: 12px;
            font-weight: bold;
            border-radius: 12px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            transition: all 0.3s ease;
            border: none;
            
            &:hover {
              box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
            }
        }
      }
    }
  }