<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Könyves Webshop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <section class="hero-section">
            <div class="container">
              <h1>Üdvözlünk a könyvesboltunkban!</h1>
              <p class="lead">Élményekben és könyvekben gazdag vásárlást kívánunk!</p>
              <a href="/konyveink">Vásárlás</a>
            </div>
          </section>
        <section class="books">
            <h2>Legújabb könyveink</h2>
            <div class="book-list">
                <div class="book">
                    <!-- <img src="book1.jpg" alt="Könyv 1"> -->
                    <h3>Könyv címe</h3>
                    <p>Rövid leírás...</p>
                    <a href="#" class="btn">Megnézem</a>
                </div>
                <div class="book">
                    <!-- <img src="book2.jpg" alt="Könyv 2"> -->
                    <h3>Könyv címe</h3>
                    <p>Rövid leírás...</p>
                    <a href="#" class="btn">Megnézem</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Könyves Webshop. Minden jog fenntartva.</p>
    </footer>
</body>
</html>
