$primary-color: #8b4513;
$secondary-color: #CBBEB3;
$text-color: #333;
$background-color: #fff;
$button-color: #C6AD94;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: $button-color;
    height: 100%;
    padding: 20px;
}

html, body, app-root {
    height: 100%;
    background-color: $button-color;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $button-color;}

button{
    cursor: pointer;
}

mat-toolbar {
  background-color: $button-color;
  color: white;
}
